<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/shiva.css">
</head>
<body>
    <div class="container">
        <h2>Tractor Management System</h2>
        <a href="/tractor_entry"><button>Tractor Data Entry</button></a>
        <a href="/update_cost"><button>Update Cost</button></a>
        <a href="/total_cost"><button>Find Total Cost</button></a>
        <a href="/tractor_sales"><button>Tractor Sales</button></a>
    </div>
</body>
</html>
